.lals-info-container {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black
}

.lals-info-container.dark-mode{
    background-color: #242526;
    border: 1px solid #3a3b3c;
    color: white;
}


.fb-lals-inner-wrapper{
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.fb-lals-logo-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}
.fb-lals-logo {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.fb-lals-data-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.fb-lals-no-data {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fb-lals-no-data > div {
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 600;
}

.fb-lals-data-container > div {
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
}

.fb-lals-team-logo{
    width: 14px;
    height: 14px;
    border-radius: 20%;
}

.fb-lals-team-data{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}